* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
	font-family: Poppins;
	transition: all 0.25s ease;
	--background: white;
	--background-alt: rgb(245, 245, 245);
	--background-dark: rgb(220, 220, 220);
	--hover: rgb(249, 249, 249);
	--hover-alt: rgb(234, 234, 234);
	--icon: rgb(100, 100, 100);
	--text: rgb(20, 20, 20);
	--text-alt: rgb(100, 100, 100);
	--text-alt2: rgb(60, 60, 60);
	--selected: rgb(66, 133, 244);
	--radius: 30px;
	--radius-alt: 25px;
	--lightest: 0.025;
	--light: 0.05;
	--dark: 0.0625;
	--darkest: 0.1;
	--close-shadow: 0 2px 6px rgba(0, 0, 0, var(--lightest)), 0 8px 14px rgba(0, 0, 0, var(--light));
	--distant-shadow: 0 2px 6px rgba(0, 0, 0, var(--dark)), 0 12px 20px rgba(0, 0, 0, var(--darkest));
	--top-shadow: 0 -2px 6px rgba(0, 0, 0, var(--lightest)), 0 -8px 14px rgba(0, 0, 0, var(--light));
}

.dark-mode * {
	--background: rgb(44, 45, 49);
	--background-alt: rgb(39, 40, 44);
	--background-dark: rgb(30, 31, 35);
	--hover: rgb(41, 42, 46);
	--hover-alt: rgb(34, 35, 39);
	--icon: rgb(200, 200, 200);
	--text: rgb(240, 240, 240);
	--text-alt: rgb(170, 170, 170);
	--text-alt2: rgb(220, 220, 220);
	--lightest: 0.075;
	--light: 0.1;
	--dark: 0.125;
	--darkest: 0.175;
}

body {
	background-color: var(--background);
}

.material-icons-round {
	color: var(--icon);
}

button {
	cursor: pointer;
	border-radius: var(--radius);
	background-color: var(--background-alt);
	box-shadow: var(--close-shadow);
}

li,
a {
	text-decoration: none;
}

li a:hover,
li a:focus {
	border-radius: var(--radius);
	background-color: var(--hover-alt);
}

nav,
ul,
main {
	display: flex;
	align-items: center;
}

header {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	background-color: var(--background);
	box-shadow: var(--close-shadow);
}

header .nav-group {
	display: flex;
	align-items: center;
}

nav {
	justify-content: space-between;
	padding: 12px 18px;
}

#dark-mode-button {
	margin: 4px;
	padding: 6px;
	border-radius: var(--radius);
}

nav ul {
	flex-wrap: wrap;
	justify-content: right;
	list-style: none;
}

nav ul li {
	margin-left: 2px;
	font-size: 13px;
	font-weight: 500;
}

nav ul .nav-link {
	position: relative;
	padding: 6px 12px;
	color: var(--text-alt);
}

nav ul .nav-link .icon {
	font-size: 18px;
	vertical-align: text-top;
}

nav ul .nav-link.selected,
nav ul .nav-link.selected .icon {
	color: var(--selected);
}

nav ul .nav-link.selected::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 36px;
	left: 12%;
	height: 3px;
	width: 80%;
	background-color: var(--selected);
	border-radius: 2px 2px 0 0;
}

#account-icon {
	margin: 4px;
	padding: 2px;
	font-size: 36px;
}

#apps-icon {
	margin-left: 6px;
	padding: 6px;
}

#google-logo {
	margin: 16px 8px;
}

#google-logo img {
	height: auto;
	width: 100px;
	vertical-align: middle;
}

#search-bar {
	display: flex;
	width: 680px;
	padding: 6px 20px;
	margin: 0 34px;
	border-radius: var(--radius);
	background-color: var(--background-alt);
	box-shadow: var(--close-shadow);
}

#search-bar #search-icon {
	position: relative;
	top: 5px;
	font-size: 22px;
	color: var(--selected)
}

#search-bar input {
	position: relative;
	top: 0px;
	height: 30px;
	width: 100%;
	margin: 0 14px 0 6px;
	font-size: 16px;
	color: var(--text);
	background-color: transparent;
}

#bottom-nav {
	width: 716px;
	margin-left: 150px;
	margin-bottom: 2px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: var(--background)
}

#results {
	position: relative;
	margin: 32px 170px 15px;
	width: 680px;
}

#results-stats {
	margin-left: 25px;
	font-size: 13px;
	color: var(--text-alt);
}

.result-card {
	display: flex;
	flex-direction: column;
	margin: 26px 0;
	padding: 20px 25px;
	border-radius: var(--radius-alt);
	background-color: var(--background-alt);
	box-shadow: var(--close-shadow);
}

.result-card .page-url {
	font-size: 13px;
	color: var(--text);
}

.result-card .page-url span {
	position: relative;
	top: 1.5px;
	vertical-align: bottom;
}

.result-card .page-name {
	margin: 5px 0;
	font-size: 18px;
}

.result-card .page-description {
	font-size: 13.5px;
	color: var(--text-alt2);
}

#result-info {
	position: absolute;
	top: 45px;
	left: 800px;
	width: 420px;
	border-radius: var(--radius-alt);
	background-color: var(--background-alt);
	box-shadow: var(--close-shadow);
}

#result-info #info-header {
	display: flex;
	justify-content: space-between;
	margin: 30px 30px 20px;
}

#result-info #info-header #header-name {
	display: flex;
	flex-direction: column;
}

#result-info #info-header #header-name a {
	text-decoration: none;
	margin-top: 6px;
}

#result-info #info-header h1 {
	font-size: 26px;
	font-weight: 500;
	color: var(--text);
}

#result-info #info-header h2 {
	margin: 4px 0;
	font-size: 14px;
	font-weight: 400;
	color: var(--text-alt);
}

#result-info #info-header img {
	height: 100px;
	width: 100px;
}

#result-info #info-website {
	padding: 15px 30px;
	border-top: 1px solid var(--background-dark);
	border-bottom: 1px solid var(--background-dark);
}

#result-info #info-website span {
	margin-right: 15px;
	vertical-align: text-top;
}

.dark-mode .result-card .page-name,
.dark-mode #result-info a {
	color: var(--text-alt);
}

#result-info #info-description {
	margin: 20px 30px 25px;
	font-size: 13.5px;
}

#result-info #info-description p {
	line-height: 23px;
	color: var(--text-alt2);
}

#result-info #info-description div {
	margin: 12px 0;
	color: var(--text);
}

#result-info #info-profiles {
	padding: 20px 30px;
	border-top: 1px solid var(--background-dark);
}

#result-info #info-profiles h3 {
	font-size: 18px;
	font-weight: 500;
	color: var(--text);
}

#result-info #info-profiles #profiles-group {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

#result-info #info-profiles #profiles-group .profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 32px;
	font-size: 13px;
}

#result-info #info-profiles #profiles-group .profile img {
	height: 36px;
	width: 36px;
}

#related-searches {
	margin: 0 170px;
	width: 680px;
}

#related-searches h2 {
	padding: 10px 25px 15px;
	font-size: 20px;
	font-weight: 400;
	color: var(--text)
}

#related-searches #related-products {
	padding: 10px 0 5px;
	border-radius: var(--radius-alt);
	background-color: var(--background-alt);
	box-shadow: var(--close-shadow);
}

#related-searches #related-products .product {
	padding: 15px 25px;
	border-top: 1px solid var(--background-dark);
}

#related-searches #related-products .product a {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#related-searches #related-products .product div {
	display: flex;
	align-items: center;
	vertical-align: middle;
	font-size: 16px;
	color: var(--text-alt2);
}

#related-searches #related-products .product img {
	margin-right: 20px;
	height: 40px;
	width: 40px;
}

#related-searches #searches-examples {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 30px 0;
}

#related-searches #searches-examples .example {
	display: flex;
	align-items: center;
	height: 50px;
	width: 48.5%;
	padding: 6px 25px;
	margin: 10px 0;
	font-size: 16px;
	color: var(--text);
	border-radius: var(--radius);
	background-color: var(--background-alt);
	box-shadow: var(--close-shadow);
}

#related-searches #searches-examples .example span {
	margin-right: 15px;
	font-size: 20px;
}

#search-bar:hover {
	background-color: var(--hover);
}

button:hover,
#search-bar:focus-within,
.result-card:hover,
.result-card:focus-within,
#result-info:hover,
#result-info:focus-within,
#related-searches #related-products:hover,
#related-searches #related-products:focus-within,
#related-searches #searches-examples .example:hover,
#related-searches #searches-examples .example:focus-within {
	background-color: var(--hover);
	box-shadow: var(--distant-shadow);
}

.result-card .page-url:hover,
.result-card .page-url:focus,
.result-card .page-name:hover,
.result-card .page-name:focus,
#result-info a:hover,
#result-info a:focus {
	text-decoration: underline;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
	background-color: var(--background-alt);
	box-shadow: var(--top-shadow);
}

#country-info div {
	margin-right: 26px;
}

#country-info,
#footer-nav {
	padding: 16px 195px;
	min-height: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 13px;
	color: var(--text-alt);
}

#footer-nav {
	margin-left: -12px;
	padding-left: 195px;
	border-top: 1px solid var(--background-dark);
}

#country-info ul,
#footer-nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

#country-info ul li a,
#footer-nav ul li a {
	margin-right: 14px;
	padding: 6px 12px;
	text-decoration: none;
	color: var(--text-alt);
}
